# Dependency directories
node_modules/

# Build output
dist/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Logs
logs/

# Compiled TypeScript files
*.js

# Nest.js specific files
.nest/